<!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="/app/show">Inicio</a>
                <a class="navbar-brand" href="/app/agregar_deporte">Agregar un deporte</a>
                <a class="navbar-brand" href="/app/deportes">Deportes</a>
                <a class="navbar-brand" href="/app/agregar_equipo">Agregar un equipo</a>
                <a class="navbar-brand" href="/app/equipos">Equipos</a>
                <a class="navbar-brand" href="/app/agregar_jugador">Agregar un jugador</a>
                <a class="navbar-brand" href="/app/jugadores">Jugadores</a>
            </div>
        </nav>